{% extends 'base.html.twig' %}


{% block addSheets %}
    <link rel="stylesheet" href="layout.css">
    <link rel="stylesheet" href="{{ asset('home.css') }}" >
{% endblock %}
{% block body %}
    <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="media/banner.jpg" class="d-block w-100" alt="intro1">
                <div class="carousel-caption d-none d-md-block">
                    <h5>WELCOME TO POGPAW</h5>
                    <p>Home For Many Pets and Animals For adoption</p>
                </div>
            </div>
            <div class="carousel-item">
                <img src="media/banner2.jpg" class="d-block w-100" alt="into2">
                <div class="carousel-caption d-none d-md-block">
                    <h5>We Offer Various Pet Related Services </h5>
                    <p>Adoption , Animal food ,Toys , Health Care , events And Plenty More</p>
                </div>
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
    <div id="myModal" class="modal">
        <div class="modal-content"><span class="close">&times;</span>
            <div class="row footer-newsletter justify-content-center">
                <div class="sign-up-box">
                    <h1>Sign Up</h1>
                    {{ form(form) }}
                </div>
            </div>
        </div>
    </div>
    <div class="news-container">
        <h2 class="new-title"> WHAT'S NEW ? </h2>
        <div class="news-content">
            <a class="news-box" href="{{ 'association' }}">
                <div class="parent"><div class="child1"></div></div>
                <h1 class="news-h1">JCI Bizerte : Get Your Pet Vaccinated ! </h1>
                <p>"Be Sure To Attend Our Next Event 25/7/2021 Where We'll Be Offering Free Vaccine For All Your Pets" -JCI President</p>
                <div class="news-date">july 10,2021</div>
            </a>
            <a class="news-box" href="{{ 'association' }}">
                <div class="parent"><div class="child2"></div></div>
                <h1 class="news-h1">World's First Cat House  ! </h1>
                <p>"We're Happy To Annouce Our Biggest Project So Far : A House Dedicated For Cats And Cat Lovers" </p>
                <div class="news-date">july 5,2021</div>
            </a>
            <a class="news-box" href="{{ 'association' }}">
                <div class="parent"><div class="child3"></div></div>
                <h1 class="news-h1">A Park to Walk With Your Pets !  </h1>
                <p>"Help Us Collect Funds For This New Project : A Park In "Centre Urbain Nord" " -JCI President</p>
                <div class="news-date">july 3,2021</div>
            </a>
            <a class="news-box" href="/dog">
                <div class="parent"><div class="child4"></div></div>
                <h1 class="news-h1">New Items In The Shop !! </h1>
                <p>Check Out Our Recent Additions In the Shop Section !!</p>
                <div class="news-date">july 1,2021</div>
            </a></div></div>
    <button id="signBtn">sign up</button>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <script>
        var modal = document.getElementById("myModal");
        var btn = document.getElementById("signBtn");
        var span = document.getElementsByClassName("close")[0];
        btn.onclick = function() {
            modal.style.display = "block";}
        span.onclick = function() {
            modal.style.display = "none";
        }
        window.onclick = function(event) {
            if (event.target == modal) {
                modal.style.display = "none";
            }
        }
    </script>

{% endblock %}
