{% extends 'base.html.twig' %}
{% block addSheets %} <link rel="stylesheet" href="layout.css"> {% endblock %}
{% block body %}
    {{ include ('pets/bannerSection.html.twig') }}
    <div class="tab-content" id="myTabContent">
        {{ include('pets/dog.html.twig') }}
        {{ include ('pets/cat.html.twig') }}
        {{ include ('pets/fish.html.twig') }}
        {{ include ('pets/bird.html.twig') }}
    </div>
    </div>
    </div>
    </div>
    </div>
    </div>
    </div>
    </section>

<!--? About  Start-->
<section class="m-3">
    <div class="about-area section-padding 30">
        <div class="container">
            <div class="row align-items-center justify-content-between padding-130">
                <div class="col-lg-5 col-md-6">
                    <div class="about-details mb-40">
                        <h2>Lorem Ipsum</h2>
                        <p>Enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse.</p>
                        <a href="#"class="btn btn-about">Click Here</a>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-10">
                    <div class="about-img mb-40">
                        <img src="shopimages/cat.jpg"class="img-fluid" alt="">
                    </div>
                </div>
            </div>
            <div class="row align-items-center justify-content-between">
                <div class="col-lg-6 col-md-6 col-sm-10">
                    <div class="about-img mb-40">
                        <img src="shopimages/cat.jpg"class="img-fluid" alt="">
                    </div>
                </div>
                <div class="col-lg-5 col-md-6">
                    <div class="about-details mb-40">
                        <h2>Lorem Ipsum</h2>
                        <p>Enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse.</p>
                        <a href="#"class="btn btn-about">Know More</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- About  End-->
{% endblock %}