{% extends 'base.html.twig' %}
{% block addSheets %} <link rel="stylesheet" href="layout.css"> {% endblock %}
{% block body %}
    {{ include ('pets/bannerSection.html.twig') }}
    <div class="tab-content" id="myTabContent">
        {{ include('pets/dog.html.twig',{ 'cat': cats }) }}
        {{ include ('pets/cat.html.twig',{ 'dogs': dogs}) }}
        {{ include ('pets/bird.html.twig', { 'birds': birds}) }}
        {{ include ('pets/rabbit.html.twig',{ 'rabbits': rabbits}) }}
    </div>
    </div>
    </div>
    </div>
    </div>
    </div>
    </div>
    </section>

<!--? About  Start-->
<section class="m-3">
    <div class="about-area section-padding 30">
        <div class="container">
            <div class="row align-items-center justify-content-between padding-130">
                <div class="col-lg-5 col-md-6">
                    <div class="about-details mb-40">
                        <h2>Think Now !</h2>
                        <p>Are you in the market for a little more love in your life? Adopting a pet is one of the very best ways to bring more happiness into your world. And when you adopt from a shelter or rescue organization—instead of buying from a breeder, the pet store, or a stranger over the internet—you get the added benefit of saving the life of an animal in need. Win-win!</p>
                        <a href="{{ path('petsList') }}"class="btn btn-about">See More</a>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-10">
                    <div class="about-img mb-40">
                        <img src="https://th.bing.com/th/id/R9e368b7a2cc82fa0f7ae7ce992ab1243?rik=%2f3%2fF27pdcD282Q&riu=http%3a%2f%2fimages.fanpop.com%2fimages%2fimage_uploads%2fso-freakin-cute--cats-248645_1024_768.jpg&ehk=4mcET2%2bWibaNrm5rnE628jmZw3oSEd2N3caD9t4HZ9U%3d&risl=&pid=ImgRaw"class="img-fluid" alt="">
                    </div>
                </div>
            </div>
            <div class="row align-items-center justify-content-between">
                <div class="col-lg-6 col-md-6 col-sm-10">
                    <div class="about-img mb-40">
                        <img src="https://www.humanesociety.org/sites/default/files/styles/1240x698/public/2018/08/dog-girl-440625.jpg?h=558430af&itok=o9oT5NnO"class="img-fluid" alt="">
                    </div>
                </div>
                <div class="col-lg-5 col-md-6">
                    <div class="about-details mb-40">
                        <h2>Save lives</h2>
                        <p>
                            Adopting a dog or cat (or rabbit, guinea pig, lizard, etc.—you’d be surprised how many animals are available for rescue)
                            is a big decision, but if you know for sure that you’re ready for the responsibility, head to the shelter, and not the backyard breeder.
                        </p><a href="{{ path('contact') }}"class="btn btn-about">Contact Now</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- About  End-->
{% endblock %}