{% extends 'base1.html.twig' %}

{% block body %}
{{ include ('shop/Section.html.twig') }}
<div class="tab-content" id="myTabContent">
{{ include('shop/dog.html.twig') }}
{{ include ('shop/cat.html.twig') }}
{{ include ('shop/fish.html.twig') }}
{{ include ('shop/bird.html.twig') }}
</div>
    </div>
    </div>
    </div>
    </div>
    </div>
    </div>
    </section>



    <!--Service Section-->_
    <section class="service-intro m-3">
        <div class="container">
            <div class="row no-gutters">
                <div class="col-md-4 d-flex">
                    <div class="intro d-lg-flex">
                        <div class="icon">
                            <i class="fas fa-phone-volume"></i>
                        </div>
                        <div class="text">
                            <h2>Online Support 24/7</h2>
                            <p>A small river named Duden flows by their place and supplies it with the necessary regelialia.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 d-flex">
                    <div class="intro color-1 d-lg-flex">
                        <div class="icon">
                            <i class="fas fa-wallet"></i>
                        </div>
                        <div class="text">
                            <h2>Money Back Guarantee</h2>
                            <p>A small river named Duden flows by their place and supplies it with the necessary regelialia.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 d-flex">
                    <div class="intro color-2 d-lg-flex">
                        <div class="icon">
                            <i class="fas fa-truck"></i>
                        </div>
                        <div class="text">
                            <h2>Free Shipping &amp; Return</h2>
                            <p>A small river named Duden flows by their place and supplies it with the necessary regelialia.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

{%  endblock %}





















