<!doctype html>
<html lang="en">
<head>
       <title>{% block title %}PogPaw{% endblock %}</title>
       <!-- Required meta tags -->
       <meta charset="utf-8">
       <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
       <script src="https://kit.fontawesome.com/332a215f17.js" crossorigin="anonymous"></script>
       <!-- Bootstrap CSS -->
       <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
       <link href="https://fonts.googleapis.com/css2?family=Lobster&display=swap" rel="stylesheet">
       <link rel="shortcut icon" type="img/png" href="shopimages/pawprint.png">
       {% block addSheets %}       {% endblock %}

       {% block javascripts %}
              {{ encore_entry_script_tags('app') }}
       {% endblock %}

       <!--<link rel="Stylesheet" href="node_modules/bootswatch/dist/minty/bootstrap.css">-->


</head>

<body >

{{ include('header.html.twig') }}
{% for  message in  app.session.flashBag.get('info') %}
       <div class="alert alert-info">
              {{ message }}
       </div>
{% endfor %}
{% for  message in  app.session.flashBag.get('success') %}
       <div class="alert alert-success">
              {{ message }}
       </div>
{% endfor %}
{% for  message in  app.session.flashBag.get('error') %}
       <div class="alert alert-danger">
              {{ message }}
       </div>
{% endfor %}


{% block body%}  {% endblock %}

{{ include('footer1.html.twig') }}




</body>
</html>
