<!doctype html>
<html lang="en">
<head>
    <title>E-commerce</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="Shop.css">
    <script src="https://kit.fontawesome.com/332a215f17.js" crossorigin="anonymous"></script>
    <!-- Bootstrap CSS -->

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Pattaya&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Lobster&display=swap" rel="stylesheet">



    {% block javascripts %}
        {{ encore_entry_script_tags('app') }}
    {% endblock %}
    {% block addSheets %}
    {% endblock %}
    <!--<link rel="Stylesheet" href="node_modules/bootswatch/dist/minty/bootstrap.css">-->


</head>

<body >

{{ include('Header1.html.twig') }}
{% for  message in  app.session.flashBag.get('info') %}
    <div class="alert alert-info">
        {{ message }}
    </div>
{% endfor %}
{% for  message in  app.session.flashBag.get('success') %}
    <div class="alert alert-success">
        {{ message }}
    </div>
{% endfor %}
{% for  message in  app.session.flashBag.get('error') %}
    <div class="alert alert-danger">
        {{ message }}
    </div>
{% endfor %}


{% block body%}  {% endblock %}

{{ include('footer1.html.twig') }}




</body>
</html>
