<nav class="navbar navbar-expand-lg" id="my-navbar">
    <div class="container">
        <a class="navbar-brand font-weight-bold brand-color" href="{{ 'home' }}">PogPaw</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse"
                data-target="#my-nav" aria-controls="my-nav" aria-expanded="false"
                aria-label="Toggle navigation">
            <span > Menu</span>
        </button>

        <div class="collapse navbar-collapse" id="my-nav">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item active"><a href="{{ path('home') }}" class="nav-link">Home</a></li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('pets') }}">Pets</a>

                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Shop</a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="/dog">Dog</a>
                        <a class="dropdown-item" href="/cat">Cat</a>
                        <a class="dropdown-item" href="/bird">Bird</a>
                        <a class="dropdown-item" href="/fish">Fish</a>
                    </div>
                </li>
                <li class="nav-item"><a href="{{ 'association' }}" class="nav-link">Associations</a></li>
                <li class="nav-item"><a href="#" class="nav-link">Health</a></li>
                <li class=" d-none d-xl-block">
                <li class="nav-item"><a href="{{ path('pet_cart_index') }}"class="nav-link">
                        <i class="fas fa-heart"></i></a></li>

                </li>
                <li class="nav-item"><a href="/panier" class="nav-link">
                        <i class="fas fa-shopping-cart"></i></a></li>

            </ul>
        </div>
    </div>
</nav>